* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
}

header{
    display: flex;
    /* background-color: rgb(78, 114, 193); */
    /* color: white; */
    flex-direction: column;
    align-items: center;
}

.reset {
    display: none;
}

h1 {
    margin: 50px;
}

.timer {
    font-weight: bold;
    background-color: white;
    color: black;
    width: 200px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.buttons {
    margin-top: 20px;
    background-color: rgb(78, 114, 193);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 78px;
    transition: all .3s;
    width: 100%;
}

.buttons div {
    width: 700px;
    display: flex;
    justify-content: center;
}

.start,
.set,
.reset {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 10px;
    border: 0px;
    border-radius: 40px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: all .5s;
}

.start {
    width: 700px;
}

.set {
    width: 350px;
}

.reset {
    width: 150px;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.button:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px
}

.set {
    display: none;
}

.timeList {
    margin-top: 20px;
    background-color: rgb(78, 114, 193);
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    height: 0;
    transition: all .3s;
    width: 100%;
}

.timeList li {
    padding: 10px;
    background-color: white;
    border-radius: 30px;
    margin: 20px;
    list-style-type: none;
    box-shadow: 0 0 2px gray;
    width: 500px;
    text-align: center;
}

.clear {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    border: 0px;
    border-radius: 40px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: all .5s;
    width: 100px;
}